*{
margin:0;
padding:0;
}
#container{
    margin-left: 100px;
    margin-right: 100px;
}
header{
    height: 148px;
    background-image: url(../img/banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#reloj{
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(#active) {
  background-color: #111;
}

section{
    margin: 20px;
}
table {
    margin-left: 30px;
    margin-bottom: 30px;
}
#active {
  background-color: rgb(179, 66, 66);
  font-weight: bold;
}
h3 {
    text-align: center;
}
tr{
    height: 100px;
}
#tr1 {
    height: 50px;
    font-size: 20px;
}
#AP1 {
    width: 200px;
}
.AP {
    font-size: 20px;
}
.info {
    width: 700px;
    text-align: justify;
    font-size: 17px;
}
img {
    height: 150px;
    width: 120px;
}
.image {
    width: 250px;
    text-align: center;
}
footer {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
footer p {
    padding-top: 5px;
}